div.col-sm, div.col{
  background-color: #E7D0A5;
  border-color: #E3B55C;
  border-width: 1px;
  border-style: solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-bottom: .75rem;
  padding-top: .75rem;
}

div.row.top{
  margin-top: 20px;
}

div.col{
  background-color: #4DA78C;
}

div.col.carotte{
  background-color: #FF8A1D;
}

div.btn-center{
  text-align:center;
  margin-top: 30px;
}

a.list-red{
  background-color: red;
}

a.list-red:hover{
  background-color: #BF2024;
}

div.list-group{
  margin-top: 30px;
}

div.card{
  margin-top: 30px;
  
}
