div.col-sm, div.col{
  background-color: #E7D0A5;
  border-color: #E3B55C;
  border-width: 1px;
  border-style: solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-bottom: .75rem;
  padding-top: .75rem;
}

div.row.top{
  margin-top: 20px;
}

div.col{
  background-color: #4DA78C;
}

div.col.carotte{
  background-color: #FF8A1D;
}

div.btn-center{
  text-align:center;
  margin-top: 30px;
}

a.list-red{
  background-color: red;
}

a.list-red:hover{
  background-color: #BF2024;
}

div.list-group{
  margin-top: 30px;
}

div.card{
  margin-top: 30px;

}

nav{
  background-color: 	#DB8D8F;
}

div.carousel{
  width: 20%;
  height: 20%;
}

.form-group{
  margin-top: 30px;
}

.progress-bar.bg-red{
  background-color: #FF6064;
}

.bg-shitty{
  background-color: #8D5E26;
}

nav.navbar{
  position: sticky;
  top: 0;
  z-index: 999999;
}

.form-control{
  background-color: #FF8A01;
}

.flex-card{
  display: flex;
  flex-wrap:wrap;

}

.btn-greenyguy{
  background-color: #4E7C01;
  margin-top: 50px;
}

.btn-goldy{
  background-color: #D7CB0B;
}
